
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-color: #1a1e24;
    color: #C9CCC4;
    font-family: Roboto;
}

nav {
  padding-top: 1.2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  padding-bottom: 3rem;
}

nav a {
  color: #C9CCC4;
  text-decoration: none;
  font-size: 1.7rem;
}

nav a:hover{
  color: #1b5868;
}

#title {
  color: #72e0d1; 
  float: left;
  padding-right: 5em;
  margin: 0;
  padding-top: 0.58em;
  font-display: bold;
  font-family: 'Roboto', sans-serif;
}

section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  margin-top: 48px;
  margin-bottom: 48px;
}


.header h1 {
  margin-bottom: 0;
  font-size: 3em;
}
.header p {
  font-size: 1.5em;
}

.header {
  padding-top: 11rem;
}

.container {
  display: grid;
  text-align: center;
  grid-template-columns: 100%;
  grid-template-rows: 40% 95%;
}

.title-2 {
  padding-bottom: 2em;
  font-size: 4em;
  text-align: center;
}
.content .overview {
  text-align: initial;
  display: grid;
  padding-left: 4rem;
  padding-right: 4rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem
}
/*to right,#00bf8f, #125c4b, #00bf8f*/
/*to right, #001510, #00bf8f*/
.content .overview > div {
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(54deg, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(54deg, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-indent: 1em;
  border-radius: 1.2rem;
}

.overview h1{
  font-display: bold;
  font-size: 3em;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 0.2em;
	display: block;
	text-align: center;
	font-size: 3em;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 1rem;
  height: 1rem;
  border-bottom: 0.2rem solid #fff;
  border-right: 0.2rem solid #fff;
  z-index: 9;
  left: 50%;
  padding-down: 2em;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}